<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
    <div id="sitelogo">
        <a class="glyph" alt="Home" href="{{ .Site.BaseURL }}"><img src={{ "images/site-logo.svg" | absURL }} alt="Site Logo" height="64px" width="64px"></a>
    </div>
    <header>
        {{ if not .IsPage }}
        <div id="site-header">
            <h1>{{ .Site.Title }}</h1>
            {{ with .Site.Params.subtitle }}
            <p>
              {{ . }}
            </p>
            {{ end }}
        </div>
        {{ end }}
    </header>
